/* html {
  background-color: #4e9e09;
} */

.App {
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none
}

.title-bar {
  width: 100%;
  -webkit-app-region: drag;
  background-color: #4e9e09;
  font-size: 1rem;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
}

.number {
  font-size: 5rem;
}

.action {
  font-size: 2.5rem;
  margin-bottom: 5%;
}

.turn {
  font-size: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

.turn-buttons {
  margin-bottom: 0.5rem;
}

.first-header {
  /* Without the first top spacing */
  font-weight: bold;
  font-size: 1.4em;
}

.header {
  margin-top: 0.8rem;
  font-weight: bold;
  font-size: 1.4em;
}

.setting {
  margin-bottom: 1.5rem;
  margin-top: 0.7rem;
}

.rules {
  text-align: left;
}

.rules ul {
  margin-left: 25px;
}

.rules ul ul {
  margin-left: 25px;
}

.credits {
  text-align: left;
}

.credits ul {
  margin-left: 25px;
}

.help-shop {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.github {
  margin-right: auto;
  margin-left: auto;
}